/* Template */
/*
    Author(s): <name> or <name1>, <name2>
    Credits: <name> or <name1>, <name2>
    Creation: <date>
*/



/* Example */

/*
    Author(s): Håkon Wium Lie, Bert Bos
    Creation: 17/12/1996
*/

html {
    height: 100%;
}